.careers {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 37.5rem;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  margin-top: 2rem;

  min-width: 100%;
  box-sizing: border-box;
}

.slides img {
  width: 5rem;
  height: auto;
  margin: auto;
  height: auto;
  display: block;
}

.name {
  margin-top: 1rem;
}

.caption {
  color: var(--clr-dark);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: var(--size-sm);
  margin: auto;
  color: var(--Dark-Grayish-Blue);
  max-width: 60ch;
}

.dots {
  text-align: center;
  padding: .625rem 0;
}

.dot {
  height: .9375rem;
  width: .9375rem;
  margin: 0 .3125rem;
  background-color: var(--Light-Red);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: var(--Bright-Red);
}

.careers__btn {
  margin-top: 2rem;
  background-color: var(--Bright-Red);
  padding: .4688rem 1.2rem;
  font-size: var(--size-sm);
  font-weight: 700;
  border-radius: 1.875rem;
  color: var(--Very-Light-Gray);
  transition: 0.3s ease-in-out;
}

.careers__btn:hover {
  transform: translateY(-0.125rem);
  box-shadow: 0 .3125rem .9375rem -0.0625rem rgb(242, 95, 58);
}
/* xs */
/* @media (min-width: 29.6875rem) {} */

/* sm */
@media (min-width: 40rem) {
}

/* md */
/* @media (min-width: 48rem) {} */

/* lg */
@media (min-width: 64rem) {
  .slider {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
  }

  .slides img {
    width: 100px;
    height: auto;
    margin: auto;
    height: auto;
    display: block;
  }

  .caption {
    font-size: var(--size-base);
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .career__title {
    font-size: var(--size-4xl);
  }

  .careers__btn {
    font-size: var(--size-xl);
    padding: .875rem 2.1875rem;
  }
}

/* xl */
/* @media (min-width 80rem) {} */

/* 2xl */
/* @media (min-width: 96rem) {} */
