.careers {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  margin-top: 2rem;

  min-width: 100%;
  box-sizing: border-box;
}

.slides img {
  width: 80px;
  height: auto;
  margin: auto;
  height: auto;
  display: block;
}

.name {
  margin-top: 1rem;
}

.caption {
  color: var(--clr-dark);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: var(--size-sm);
  margin: auto;
  color: var(--Dark-Grayish-Blue);
  max-width: 60ch;
}

.dots {
  text-align: center;
  padding: 10px 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: var(--Light-Red);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: var(--Bright-Red);
}

.careers__btn {
  margin-top: 2rem;
  background-color: var(--Bright-Red);
  padding: 7.5px 1.2rem;

  font-size: var(--size-sm);
  font-weight: 700;
  border-radius: 1.875rem;
  color: var(--Very-Light-Gray);
  transition: 0.3s ease-in-out;
}

.careers__btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 0.3125rem 0.9375rem -0.0625rem rgb(242, 95, 58);
}
/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .slider {
    position: relative;
    width: 100%;
    max-width: 37.5rem;
    margin: auto;
    overflow: hidden;
  }

  .slides img {
    width: 6.25rem;
    height: auto;
    margin: auto;
    height: auto;
    display: block;
  }

  .caption {
    font-size: var(--size-base);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .career__title {
    font-size: var(--size-4xl);
  }

  .careers__btn {
    font-size: var(--size-xl);
    padding: 14px 35px;
  }
}

/* xl */
/* @media (min-width 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
